/* .navbar {
	width: 100%;
    position: fixed;
    top:0;
    left:0%;
	height: 70px;
	background-color:#23058c;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 100;
}

.navbar h1 {
	color: white;
	font-size: 25px;
	margin-left: 20px;
} */